@import "tailwindcss";

@theme {
    --color-primary: #eff8fc;
    --color-secondary: #7cb9e8;
    --color-third: #f0ffff;
    --color-forth: #f0f8ff;
    --color-fb: #1877f2;
    --color-ig: #c13584;
    --color-x: #000000;
}

@theme {
    --shadow-primary: rgba(0, 0, 0, 0.08) 0px 3px 6px 0px inset;
    --shadow-secondary: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@layer components {
    .tranform-main {
        @apply transform hover:scale-103 transition duration-200 hover:saturate-150 hover:shadow-primary cursor-pointer px-4 py-2 rounded-lg;
    }
}

.ibm-plex-sans {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
